<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <link rel="stylesheet" href="main.css">

  
  <title>Shop</title>
</head>
<body>
   <div id="root">
    <header>
      <div class="wrapper">
        <div class="header">
            
          <div class="header_left">
              
            <div class="class_menu"  >
                <ul class="menu" id="menu" >
                  <li class="menu-item" v-for="item in menus"> <a :href="item.a">{{item.li}}</a></li>
                </ul>
            </div>
           
          </div>
          <div class="header_right">
            <search-component @search="onQueryChange"></search-component>
             
            <button class="cart-button" type="button" @click="toggleBasket">
              Корзина
            </button>
            <div v-if="isBasketVisible">
              <basket-component :items="basket" @changed="handelBasketChange" @deleted="handelDeletClick"></basket-component>
            </div>
            
            <!-- <div class="btn-menu " v-if="isBasketVisible">
              <ul>
                <li  class="list" v-for="item in basket">
                  <h3>{{item.title}}</h3>
                  <input class="qty" type="number" v-model="item.qty">
                  <button @click="handelDeletClick(item.id)"> x </button>
                </li>
              </ul>
                
              <p>Сумма заказа</p>
              <div class="total"> {{total}} </div>
            </div> -->
          </div>
        </div>
        
         
      </div>
      
    </header>
     
    
     
    <main>
      <div class="wrapper">
        <items-list-component :items="filteredItems" @buy="handelBuyClick"></items-list-component>
        
      </div>
      
    </main>
  
    <footer>
      <div class="wrapper">
        <div class="footer_left"></div>
        <div class="footer_right"></div>
      </div>
    </footer>
   </div>
  

  
  <script src="vue.js"></script>
  
   
</body>
</html>